.App {
  background-color: darkseagreen;
  min-height: 92vh;
  padding: 30px;
}

.header {
  text-align: center;
}

.todo-list {
  position: relative;
  left: 13%;
  background-color: #d8d2d2;
  border-radius: 8px;
  padding: 20px;
  max-width: 75%;
}

.form {
  margin-top: 20px;
  margin-left: 10px;
  padding: 7px;
  border-radius: 3px;
  width: 85%;
}

.button {
  background-color: darkseagreen;
  color: white;
  margin-left: 10px;
  border-radius: 5px;
  padding: 7px;
  margin-right: 10px;
  position: relative;
  float: right;
}

.todo {
  background-color: white;
  padding-bottom: 15px;
  padding-top: 5px;
  padding-left: 10px;
  margin: 8px 10px;
  align-items: center;
  border-radius: 5px;
}
